<!-- Navigation -->
<nav>
    <a href="{{ path('home') }}">Inici</a>
    &nbsp;&nbsp;&nbsp;
    <a href="{{ path('account_list') }}">Comptes</a>
    &nbsp;&nbsp;&nbsp;
    <a href="{{ path('client_list') }}">Clientes</a>
</nav>
